<h1>Storage</h1>

<p>
	<%= Block.free.count %> / <%= Block.count %> blocks free
</p>

<table>
	<tr>
		<th>Blocks at</th>
		<th>Device Root</th>
	</tr>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.path, device %></td>
    <td><%= device.dev_path %></td>
    <td><%= device.free_block_count %> free blocks</td>
    <td>
    <% if device.blocks.count == 0 %>
    	<%= link_to 'Remove', device, confirm: 'Are you sure?', method: :delete %>
    <% else %>
    	<%= device.blocks.count - device.blocks.free.count %> /
    	<%= device.blocks.count %> blocks used
    <% end %>
    </td>
  </tr>
<% end %>
</table>

<p>
	<%= link_to 'Add Storage', new_device_path %>	
</p>
