<h1>Storage</h1>

<p>
	<%= number_with_delimiter Block.free.count %> /
  <%= number_with_delimiter Block.count %> blocks free
</p>

<table>
	<tr>
		<th>Blocks at</th>
		<th>Device Root</th>
	</tr>
<% @devices.each do |device| %>
  <tr>
    <td><%= link_to device.path, device %></td>
    <td><%= device.dev_path %></td>
    <td><%= number_with_delimiter device.free_block_count %> free blocks</td>
    <td>
    <% if device.blocks.count == 0 %>
    	<%= link_to 'Remove', device, confirm: 'Are you sure?', method: :delete %>
    <% else %>
    	<%= number_with_delimiter(device.blocks.count -
                                device.blocks.free.count) %> /
    	<%= number_with_delimiter device.blocks.count %> blocks used
    <% end %>
    </td>
    <td>
      <%= link_to 'Blocks', device_blocks_path(device) %>
    </td>
  </tr>
<% end %>
</table>

<p>
	<%= link_to 'Add Storage', new_device_path %>	
</p>
