<h1>Device Blocks</h1>

<p>
  Blocks allocated at <code><%= @device.path %></code>
</p>

<p>
  Storage device root at <code><%= @device.path %></code>
</p>

<div data-pwnfx-scope="blocks-change">
  <p>
    Change:
    <%= select_tag 'change-type', options_for_select(['Allocate', 'Release',
      'Move'], []), 
            'data-pwnfx-showif-source' => 'block-type' %>
  </p>

  <div data-pwnfx-showif="block-type" data-pwnfx-showif-scope="blocks-change"
       data-pwnfx-showif-is="Allocate">
    <%= render 'device_blocks/allocate_form', device: @device %>
  </div>
  <div data-pwnfx-showif="block-type" data-pwnfx-showif-scope="blocks-change"
       data-pwnfx-showif-is="Release">
    <%= render 'device_blocks/release_form', device: @device %>
  </div>
  <div data-pwnfx-showif="block-type" data-pwnfx-showif-scope="blocks-change"
       data-pwnfx-showif-is="Move">
    <%= render 'device_blocks/move_form', device: @device %>
  </div>
</div>
</div>

