<h1>Device Blocks</h1>

<%= form_tag do |f| %>
	<section class="fields">
	<p class="field">
		<%= label :allocate, 'Allocate blocks' %>
		<span class="value">
			<%= number_field :allocate, nil, min: 0, max: @device.free_block_count %>
		</span>
		<span class="comment">
			<%= @device.free_block_count %> available blocks
		</span>
	</p>
	
	<p class="field">
		<%= label :release, 'Release blocks' %>
		<span class="value">
			<%= number_field :release, nil, min: 0, max: @device.blocks.free.count %>
		</span>
		<span class="comment">
			<%= @device.blocks.free.count %> unused blocks
		</span>
	</p>

	<p class="field">
		<%= label :move, 'Move blocks' %>
		<span class="value">
			<%= number_field :move, nil, min: 0, disabled: true,
			        max: @device.blocks.free.count %>
		</span>
		<span class="comment">
			<%= @device.blocks.free.count %> used blocks
		</span>
	</p>
	</section>
<% end %>
