<li>
  <%= link_to 'Submenu', '#' %>
  <ol>
    <li><%= link_to 'Item 1', '#' %></li>
    <li><%= link_to 'Item 2', '#' %></li>
    <li><%= link_to 'Item 3', '#' %></li>
  </ol>
</li>
<li>
  <%= link_to 'Action', '#' %>
</li>
<% if current_user.admin? %>
<li>
  <%= link_to 'Admin', '#' %>
  <ol>
    <li><%= link_to 'Devices', devices_path %></li>
  </ol>
</li>
<% end %>
<li>
  <%= link_to current_user.email, '#' %>
  <ol>
    <li><%= link_to 'Sign out', session_path, method: :delete %></li>
  </ol>
</li>
